.agregarproducto__container{
    background: #E5E5E5;
    padding: 1rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.agregarproducto__form{
    padding: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.agregarproducto__form__titulo{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: var(--color-texto); 
    font-size: 1.5rem;
}

.vistaprevia__img{
    width: 176px;
}

.agregarproducto__form__input{
    width: 350px; 
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    color: var(--color-texto);
    font-family: 'Raleway', sans-serif;
}

.agregarproducto__form__submitbtn{
    width: 382px;   
    background: var(--color-link);
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

@media (max-width: 768px){
    .agregarproducto__container{
        padding: 2rem;
    } 

    .agregarproducto__form{
        padding: 2rem;
        width: 100%;
    }

    .agregarproducto__form__input{
        width: 100%;
    }

    .agregarproducto__form__submitbtn{
        width: calc(100% + 2rem);
    }
}

@media (max-width: 450px){
    .agregarproducto__form{
        padding: 0;
    }
}