<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AluraGeek</title>
    <link rel="shortcut icon" href="/assets/img/icono.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/assets/css/header/header_container.css">
    <link rel="stylesheet" href="/assets/css/main/articulos_container.css">
    <link rel="stylesheet" href="/assets/css/footer/footer_container.css">
</head>
<body>
    <header>
        <section class="header__container">
            <div class="container__logobuscador">
                <h1 class="header__logo"><img onclick="location.href='/index.html'" src="/assets/img/logo.png" alt="Logo AluraGeek" class="header__logo__img"></h1>
                <div class="buscador__container">
                    <input type="search" class="header__buscador" placeholder="¿Qué deseas buscar?">
                    <ion-icon class="buscador__icono" name="search-outline"></ion-icon>
                </div>
            </div>
            <ion-icon class="header__busquedabtn" name="search-outline"></ion-icon>
        </section>
    </header>
    <main>
        <section class="articulos__container">
            <div class="articulos__categoria">
                <div class="articulos__cabecera cabecera__productos">
                    <h2 class="articulos__cabecera__titulo">Todos los productos</h2>
                    <input class="agregar__productobtn" onclick="location.href=`/assets/templates/agregar_producto.html`" type="button" value="Agregar producto">
                </div>
                <div class="articulos__contenido">
                    <div class="articulos__item">
                        <img src="/assets/img/item1.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item2.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item3.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item4.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item5.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item6.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item7.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item8.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item9.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item10.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item11.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item12.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item13.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item14.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item15.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item16.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item17.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                    <div class="articulos__item">
                        <img src="/assets/img/item18.png" alt="Imagen Articulo" class="articulo__img">
                        <div class="container__icons">
                            <ion-icon class="delete__icon" name="trash"></ion-icon>
                            <ion-icon class="edit__icon" name="create"></ion-icon>
                        </div>
                        <h3 class="articulo__nombre">Producto XYZ</h3>
                        <p class="articulo__precio">$ 60,00</p>
                        <p class="articulo__link">Ver producto</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer__container">
            <div class="container__logoul">
                <div class="footer__logo"><img src="/assets/img/logo.png" alt="Logo AluraGeek" class="footer__logo__img"></div>
                <ul class="footer__ul">
                    <li class="footer__ul__li">Quienes somos</li>
                    <li class="footer__ul__li">Politica de privacidad</li>
                    <li class="footer__ul__li">Programa de fidelidad</li>
                    <li class="footer__ul__li">Nuestras tiendas</li>
                    <li class="footer__ul__li">Quiero ser franquiciado</li>
                    <li class="footer__ul__li">Anuncie aqui</li>
                </ul>
            </div>
            <div class="footer__form">
                <h3 class="footer__form__titulo">Hable con nosotros</h3>
                <input type="text" name="" id="" class="footer__form__input" placeholder="Nombre">
                <textarea class="footer__form__textarea" name="" id="" cols="30" rows="5" placeholder="Escribe tu mensaje"></textarea>
                <button type="submit" class="footer__form__btn">Enviar mensaje</button>
            </div>
        </section>
        <div class="footer__infodesarrollador">
            <p class="infodesarrollador__p">Desarrollado por <a class="infodesarrollador__link" href="https://andresmontes.dev/" target="_blank" rel="noopener">Andres Montes</a></p>
            <p class="infodesarrollador__p">2023</p>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="app.js"></script>
</body>
</html>