.banner__container{
    background-image: url("/assets/img/banner-image.png");
    background-size: cover;
    padding: 10rem 10rem 2rem;
}

.banner__titulo{
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.banner__descripcion{
    color: #ffffff;
    margin-bottom: .5rem;
}

.banner__boton{
    background: var(--color-link);
    color: #ffffff;
    border: none;
    padding: .8rem 1rem;
    cursor: pointer;
}

@media (max-width: 1280px){
    .banner__container{
        padding: 10rem 2rem 2rem;
    }      
}

@media (max-width: 768px){
    .banner__container{
        padding: 7rem 1rem 1rem;
    }
}

@media (max-width: 450px){
    .banner__container{
        padding: 6rem 1rem 1rem;
        background-position: center;
    }  

    .banner__titulo{
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }
}